@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1 {
    color: hotpink;
}

h1:hover {
    background-color: transparent;
}

.navbar {
    background-color: #1d1c1c57;
}

.container {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

li {
    float: left;
    list-style-type: none;
}

li:hover {
    background-color: rgba(5, 7, 119, 0.733);
}

a:hover {
    color: greenyellow;
}

.nav-icons {
    padding: 15px;
}

.header:hover {
    background: none;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-icons {
    float: right;
}


/*
data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E
*/

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='728' height='728' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23272524' stroke-width='1.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23a40000'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.project-page {
    color: rgb(86, 171, 211);
    padding: 20px;
    text-align: center;
    height: max-content;
    background-color: rgba(238, 165, 241, 0.329);
}

h2 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    color: aliceblue;
}

.footer {
    background-color: rgba(32, 32, 32, 0.911);
    color: white;
    text-align: center;
}

.footer h2 {
    font-family: 'Courier New', Courier, monospace;
}

.footer-main {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25vh;
    padding-top: 20px;
}

.min-footer {
    height: 30px;
    padding: 1px 0px 30px 0px;
    color: aquamarine;
    text-align: center;
    background-color: #0000008a;
}

.footer-content {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cards-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 125px;
}

p {
    padding: 10px;
    width: 100px;
    height: 100px;
}

p:hover {
    color: lightgreen;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-images {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.footer-images:hover {
    width: 50px;
    height: 50px;
}


/*? Slider  */

section.slideshow {
    width: 100%;
}

section.slideshow div.slide-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

section.slideshow section.current-slide {
    width: 600px;
    height: 500px;
    margin: auto 10px;
}

section.slideshow section.current-slide {
    width: 130vh;
    height: 70vh;
}

.previous-slide,
.next-slide {
    width: 50vh;
    height: 30vh;
}

section.slideshow section.slide div.slide-thumbnail {
    width: 100%;
    height: 100%;
    background: #541d82;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #551d829c;
}

section.slideshow div.slideshow-controller {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.slideshow div.slideshow-controller span {
    padding: 10px;
    width: 100px;
    border: none;
    background: #541d82;
    color: #f5f5f5;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 5px #551d8283;
    user-select: none;
}

section.slideshow div.slideshow-controller span:hover {
    color: #ffc200;
    text-shadow: 3px 3px 5px #ffc200;
}

section.slideshow div.slideshow-controller span:active {
    color: #541d82;
    text-shadow: 3px 3px 5px #541d82;
    background: #ffc200;
}


/* 
display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
*/

.text-box {
    visibility: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    color: transparent;
    height: 200px;
}

.text-box:hover {
    visibility: visible;
    color: antiquewhite;
    background-color: #551d82b0;
}

h2:hover {
    color: rgb(175, 255, 56);
}


/** Typing Text effect */


/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
    font-size: 50px;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 4px solid inherit;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

.typewriter h2 {
    text-align: center;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 4px solid inherit;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}


/** Contact form */

.contact-image {
    width: max-content;
    height: max-content;
}

.main-container {
    display: flex;
    flex-direction: row;
    background-color: #c0c4c083;
    height: 100vh;
}

.first {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}

.second {
    width: 50%;
    background-color: transparent;
}

.contact-title {
    background: radial-gradient(farthest-corner at 20px 10px, rgb(240, 47, 47) 40%, rgb(240, 163, 247) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    padding: 20px;
}

label {
    font-size: x-large;
    color: rgb(0, 0, 0);
}

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*! Responsive Designing Region*/

@media only screen and (max-width: 600px) {
    .header {
        text-align: center;
        font-size: xx-large;
        list-style-type: none;
    }
    .container {
        float: center;
        text-align: center;
        padding: 40px;
        overflow-x: hidden;
        list-style-type: none;
    }
    li {
        width: 80%;
        float: center;
        list-style-type: none;
    }
}

.App-link {
    color: #61dafb;
}