/*! data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='728' height='728' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23272524' stroke-width='1.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23a40000'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E */


/* background-color: #0D0F1F; */

.App {
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #0f0e0e 10%, #000000 74%);
    background-size: cover;
    text-align: center;
    color: #fff;
}


/*? TopNav Component */

.navbar {
    display: flex;
    flex-direction: row;
    color: white;
    height: min-content;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    width: 40%;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.nav-icons>li>a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav-icons>li>a:hover {
    border: 1px solid green;
    color: rgb(40, 218, 40);
}

.header {
    font-size: 16px;
    width: 70%;
    padding-left: 10px;
    text-align: left;
}


/*? Landing Component */

.landing,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/** Typing Text effect */


/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
    font-size: 55px;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 4px solid inherit;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

.typewriter h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 4px solid inherit;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}


/*? Project Component */

.project-container {
    color: white;
}

.project-container>h1 {
    padding: 10px;
    font-size: 70px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}


/* rgba(255, 255, 255, 0.342) */

.main {
    display: flex;
    flex-direction: row;
    width: 140vh;
    height: 80vh;
    z-index: 1;
    border: 1px solid black;
}

.previous,
.next {
    width: 40vh;
    height: 70vh;
    z-index: 0;
}

.navbutton {
    padding: 5px;
    width: 10vh;
    height: 95.5vh;
    background-image: linear-gradient( black, rgb(36, 36, 85), black);
    border: 1px solid black;
    box-shadow: 1px 1px 8px white;
    color: white;
    font-size: larger;
}

.previousbutton {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.nextbutton {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.navbutton:hover {
    background-image: radial-gradient(lightgreen, green);
    color: black;
}

.text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    opacity: 0;
}

.text-box>a {
    text-decoration: none;
}

.text-box>a>h2 {
    color: rgb(255, 255, 255);
}

.text-box>a>h2:hover {
    font-size: xx-large;
}

.text-box:hover {
    opacity: 1;
    visibility: visible;
    background: linear-gradient(rgb(12, 85, 24), rgb(2, 129, 19));
}


/*? Resume component*/

.resume-container {
    display: flex;
    padding: 20px;
    background: linear-gradient(124deg, black, rgb(65, 63, 63));
    color: white;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: left;
}

.resume-container>h1 {
    text-align: center;
    font-size: 70px;
}

.resume-doc {
    padding: 20px;
    width: 80%;
    background-color: white;
    color: black;
}

.resume-header {
    display: flex;
    flex-direction: row;
    background: rgb(36, 36, 85);
    padding: 10px;
    height: 50vh;
    color: white;
}

.resume-image {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-image: url('./assets/DP.jpg');
    background-size: cover;
    width: 100%;
    height: 320px;
    border-radius: 20px;
}

.resume-description {
    padding-left: 20px;
}

.resume-description>h1 {
    text-align: right;
    font-size: 60px;
}

.resume-description>p {
    text-align: right;
    font-size: 20px;
}

.resume-main {
    display: flex;
    flex-direction: row;
    height: max-content;
    padding-top: 40px;
    border: 5px solid rgb(36, 36, 85);
}

.skills-section {
    width: 60%;
    height: 10%;
    /* removing it causes problem */
    text-align: center;
    align-items: flex-end;
    background: rgb(36, 36, 85);
    color: white;
}

.certificate-section {
    width: 100%;
}

.skills-section,
.certificate-section {
    padding: 20px;
}

.resume-project-intro {
    font-size: 20px;
}

.certificate-about {
    text-align: center;
    font-size: 18px;
}

.skills-section>div>div {
    display: flex;
    flex-direction: row;
}

.skills {
    width: 80%;
    padding-top: 10px;
    padding-left: 40px;
    text-align: left;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    padding-top: 10px;
}

.charts {
    width: 100%;
    padding: 30px;
}

.charts>div {
    display: flex;
    flex-direction: row;
    height: 29px;
}

.bar {
    height: 100%;
    background: white;
}

.darkbar {
    height: 100%;
    background: black;
}

.b1 {
    width: 60%;
}

.d1 {
    width: 40%;
}

.b2 {
    width: 50%;
}

.d2 {
    width: 50%;
}

.b3 {
    width: 70%;
}

.d3 {
    width: 30%;
}

.b4 {
    width: 80%;
}

.d4 {
    width: 20%;
}

.b5 {
    width: 85%;
}

.d5 {
    width: 15%;
}

.b6 {
    width: 70%;
}

.d6 {
    width: 30%;
}

.b7 {
    width: 40%;
}

.d7 {
    width: 60%;
}

.b8 {
    width: 50%;
}

.d8 {
    width: 50%;
}

.b9 {
    width: 85%;
}

.d9 {
    width: 15%;
}

.b10 {
    width: 45%;
}

.d10 {
    width: 55%;
}

.b11 {
    width: 80%;
}

.d11 {
    width: 20%;
}

.b12 {
    width: 85%;
}

.d12 {
    width: 15%;
}

.resume-button {
    padding: 20px;
}

.resume-button>button {
    width: 100vh;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(36, 36, 85);
    box-shadow: 2px 2px 4px white;
    border-radius: 10px;
    color: #ffff;
}

.resume-button>button:hover {
    background: radial-gradient(lightgreen, green);
    color: rgb(0, 0, 0);
}


/*? Contact Component*/

.contact-container {
    display: flex;
    height: 100vh;
    background: radial-gradient( black 50%, rgb(36, 36, 85));
}

.left-col {
    display: flex;
    flex-direction: row;
    background-image: url('./assets/DeskSide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #f8f8f8;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    padding: 6px;
}

.contact-form>label {
    padding: 5px;
}

.contact-form>label>input {
    width: 80vh;
    height: 5vh;
    font-size: large;
}

.contact-form>label>input::placeholder {
    font-size: large;
}

.contact-form>label>textarea,
.contact-form>label>textarea::placeholder {
    width: 80vh;
    height: 30vh;
    resize: vertical;
    font-size: x-large;
}

.contact-form>button {
    width: 15%;
    height: 40px;
    /*!change the height later*/
    font-size: large;
    border-radius: 5px;
    background-color: rgb(2, 177, 2);
    color: #fff;
}

.contact-form>button:hover {
    background-image: linear-gradient(lightgreen, green);
}


/*? About Component*/

.bg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: radial-gradient( black 40%, rgb(36, 36, 85));
    width: 90%;
    height: 40%;
    padding: 10px;
    border-radius: 10px;
}

.about-container>.about-image {
    background-image: url('./assets/DP.jpg');
    background-size: cover;
    box-shadow: 10px 5px 10px rgb(114, 113, 113);
    width: 33%;
    height: 55vh;
    border-radius: 70vh;
}

.intro {
    width: 68%;
    padding: 20px 10px 10px 50px;
}

.intro>p>h1 {
    font-size: 40px;
    text-align: center;
}

.intro>p {
    font-size: 20px;
    text-align: left;
}


/*? Footer component */

.footer {
    background-color: rgba(32, 32, 32, 0.911);
    color: white;
    text-align: center;
    padding-top: 30px;
}

.footer>h2 {
    font-family: 'Courier New', Courier, monospace;
}

.footer-main {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25vh;
    padding-top: 40px;
}

.min-footer {
    height: 30px;
    padding: 1px 0px 30px 0px;
    color: aquamarine;
    text-align: center;
    background-color: #0000008a;
}

.footer-content {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cards-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.cards>p {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.cards>p:hover {
    color: lightgreen;
}

.cards>p>a {
    text-decoration: none;
    color: inherit;
}

.footer-images {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.footer-images:hover {
    width: 50px;
    height: 50px;
}


/*! Responsive Design part*/


/** Ipad Screens */

@media only screen and (min-width: 576px) and (max-width: 768px) {
    /* Styles */
    .App {
        overflow-x: hidden;
    }
    /*? Navbar */
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header {
        font-size: xx-large;
        text-align: center;
    }
    .nav-icons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-icons>li {
        font-size: x-large;
        width: 100%;
        height: 10vh;
    }
    /*? landing */
    .landing {
        opacity: 0;
    }
    /*? Project */
    .project {
        display: flex;
        flex-direction: column;
    }
    .navbutton {
        width: 100%;
        height: 10%;
        border-radius: 0px;
    }
    .previous,
    .next {
        display: none;
    }
    .previousbutton {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .nextbutton {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    /*? About */
    .about-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .about-container>.about-image {
        width: 60%;
        height: 60%;
        border-radius: 0px;
    }
    /*? Contact */
    .left-col {
        display: none;
    }
    .right-col {
        width: 100%;
    }
    .contact-form>label>input,
    .contact-form>label>textarea {
        width: 40vh;
    }
    .contact-form>button {
        width: 41vh;
    }
    /*? Resume */
    .resume-container {
        display: flex;
        flex-direction: column;
    }
    .resume-header {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .resume-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: max-content;
    }
    .resume-description>h1 {
        height: 10px;
        font-size: 40px;
    }
    .resume-image {
        width: 50%;
    }
    .resume-description>p {
        text-align: center;
        font-size: 18px;
    }
    .resume-main {
        display: flex;
        flex-direction: column;
    }
    .skills-section {
        width: 100%;
        padding: 0px;
    }
    .certificate-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px;
    }
    .charts {
        padding: 38px;
    }
    .resume-button>button {
        width: 100%;
    }
}


/** Medium screen */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* Styles */
    .App {
        overflow-x: hidden;
    }
    /*? Navbar */
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header {
        font-size: xx-large;
        text-align: center;
    }
    .nav-icons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-icons>li {
        font-size: x-large;
        width: 100%;
        height: 10vh;
    }
    /*? landing */
    .landing {
        opacity: 0;
    }
    /*? Project */
    .project {
        display: flex;
        flex-direction: column;
    }
    .navbutton {
        width: 100%;
        height: 10%;
        border-radius: 0px;
    }
    .previous,
    .next {
        display: none;
    }
    .previousbutton {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .nextbutton {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    /*? About */
    .about-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .about-container>.about-image {
        width: 60%;
        height: 60%;
        border-radius: 0px;
    }
    /*? Contact */
    .left-col {
        display: none;
    }
    .right-col {
        width: 100%;
    }
    .contact-form>label>input,
    .contact-form>label>textarea {
        width: 60vh;
    }
    .contact-form>button {
        width: 61%;
        height: 5vh;
    }
    /*? Resume */
    .resume-container {
        display: flex;
        flex-direction: column;
    }
    .resume-header {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .resume-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: max-content;
    }
    .resume-description>h1 {
        height: 10px;
        font-size: 40px;
    }
    .resume-image {
        width: 55%;
    }
    .resume-description>p {
        text-align: center;
        font-size: 16px;
    }
    .resume-main {
        display: flex;
        flex-direction: column;
    }
    .skills-section {
        width: 100%;
        padding: 0px;
    }
    .certificate-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px;
    }
    .charts {
        padding: 38px;
    }
    .resume-button>button {
        width: 100%;
    }
}


/** Bigger Screen*/

@media only screen and (min-width: 959px) and (max-width: 1224px) {
    /* Styles */
    .App {
        overflow-x: hidden;
    }
    /*? Navbar */
    .navbar {
        width: 100%;
    }
    .nav-icons {
        width: 60%;
    }
    /*? Landing */
    .typewriter>h1 {
        font-size: 40px;
    }
    /*? contact */
    .left-col {
        display: none;
    }
    .right-col {
        width: 100%;
    }
    .contact-form>label>input,
    .contact-form>label>textarea {
        width: 60vh;
    }
    .contact-form>button {
        width: 61%;
        height: 5vh;
        font-size: xx-large;
    }
    /*? About */
    .about-container {
        flex-direction: column;
    }
    .about-container>.about-image {
        width: 30vh;
        height: 80%;
        border-radius: 0px;
    }
    /*? Resume */
    .resume-container {
        display: flex;
        flex-direction: column;
    }
    .resume-header {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .resume-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: max-content;
    }
    .resume-description>h1 {
        height: 10px;
        font-size: 40px;
    }
    .resume-image {
        width: 50%;
    }
    .resume-description>p {
        text-align: center;
        font-size: 20px;
    }
    .resume-main {
        display: flex;
        flex-direction: column;
    }
    .skills-section {
        width: 100%;
        padding: 0px;
    }
    .certificate-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px;
    }
    .charts {
        padding: 38px;
    }
    .resume-button>button {
        width: 100%;
    }
}


/** Lower screen devices */

@media screen and (max-width:576px) {
    .App {
        overflow-x: hidden;
    }
    /*? Navbar */
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header {
        font-size: xx-large;
        text-align: center;
    }
    .nav-icons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-icons>li {
        font-size: x-large;
        width: 100%;
        height: 10vh;
    }
    /*? landing */
    .landing {
        opacity: 0;
    }
    /*? Project */
    .project {
        display: flex;
        flex-direction: column;
    }
    .navbutton {
        width: 100%;
        height: 10%;
        border-radius: 0px;
    }
    .previous,
    .next {
        display: none;
    }
    .previousbutton {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .nextbutton {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    /*? About */
    .about-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .about-container>.about-image {
        width: 40vh;
        height: 40%;
        border-radius: 0px;
    }
    /*? Contact */
    .left-col {
        display: none;
    }
    .right-col {
        width: 100%;
    }
    .contact-form>label>input,
    .contact-form>label>textarea {
        width: 40vh;
    }
    .contact-form>button {
        width: 41vh;
    }
    /*? Resume */
    .resume-container {
        display: flex;
        flex-direction: column;
    }
    .resume-header {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .resume-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: max-content;
    }
    .resume-description>h1 {
        height: 10px;
        font-size: 40px;
        text-align: center;
    }
    .resume-image {
        width: 70%;
        height: 160px;
    }
    .resume-description>p {
        display: none;
        text-align: center;
        font-size: 13px;
    }
    .resume-main {
        display: flex;
        flex-direction: column;
    }
    .skills-section {
        width: 100%;
        padding: 0px;
    }
    .certificate-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px;
    }
    .skills {
        padding-left: 20px;
        text-align: center;
        font-size: 13px;
    }
    .charts {
        display: none;
    }
    .resume-button>button {
        width: 100%;
    }
}